<form class="box-container" {{action 'startArtwork' on="submit"}}>
  {{#if formError}}
    <p class="text-danger">Artwork name already taken!</p>
  {{/if}}
  {{input value=artwork type="text" class="form-control" placeholder="Artwork title"}}
  <input type="submit" class="btn btn-primary btn-lg" value="Draw!">
</form>
<div class="box box-max">
  {{#each sketch in sketches}}
    <canvas {{bind-attr id="sketch.url"}} class="sketchpad sketchpad-mini box-inline" data-width="400" data-height="400"></canvas>
  {{/each}}
  {{#if sketches}}
    {{trigger-event this 'setupSketches'}}
  {{/if}}
</div>